@font-face {
  font-family: 'Content';
  font-style: normal;
  font-weight: 500;
  src: local('Content Regular'), url('Content-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Content';
  font-style: normal;
  font-weight: 700;
  src: local('Content Bold'), url('Content-Bold.woff') format('woff');
}

* {
  font-family: Content-font, Roboto, sans-serif;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: light;
}

p,
li,
hr {
  margin: 1rem 0;
}
